name: Pylint and Run it

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12
    - name: Get changed files
      id: changed-files
      uses: tj-actions/changed-files@v41
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        pip install sympy
        pip install mpmath
        pip install numpy
        pip install numba
        pip install primesieve
    - name: Analysing the code with pylint
      env:
        ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
      run: |
        for file in $(ls $ALL_CHANGED_FILES| grep '.py$')
        do
          echo flake8 $file
        done
    - name: Runs Puzzle solution
      env:
        ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
      run: |
        for file in $(ls $ALL_CHANGED_FILES| grep '.py$')
        do
          echo "Running $file"
          python -u $file
        done
        for file in $(ls $ALL_CHANGED_FILES| grep '.cpp$')
        do
          OBJ=$(basename $file .cpp)
          echo "Compiling $file"
          g++ -O3 -std=c++11 $file -o $OBJ
          echo "Running $OBJ"
          ./$OBJ
        done
